<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsApp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>All chats</h3>
    <form method="GET" action="/chats/new">
        <button>New Chat</button>
    </form>
    <br>
    <% for(let chat of chats) {%>
        <div class="chat">
            <p><strong>From:</strong> <%= chat.from %></p>
            <div class="msg">
                <p><strong>Message:</strong> <%= chat.msg %></p>
                <form method="GET" action="/chats/<%= chat._id %>/edit">
                    <button>Edit Button</button>
                </form>
            </div>
            <p><strong>To:</strong> <%= chat.to %></p>
            <p><strong>Time:</strong> <%= chat.created_at.toString().split(" ")[4] %></p>
            <p><strong>Date:</strong> <%= chat.created_at.toString().slice(0,4) %></p>
        </div>
    <hr/>
    <% } %>
</body>
</html>
